{
  "PublisherId": "CN=16944C02-2BF2-404F-94DA-4A0059955F7A",
  "PublisherDisplayName": "Winter Games",
  "PackageIdentityName": "40675WinterGames.RiseSquirrel",
  "DisplayName": "Rise Squirrel",
  "AppId": "9P5W954QJMSR",
  "ProductFamilyName": "40675WinterGames.RiseSquirrel_n4vnyaqycy068",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-00006f8accb5",
  "TitleId": 1871367349,
  "Sandbox": "JFKBLJ.58",
  "XboxLiveCreatorsTitle": true
}